<div id="menuInstCont">

    <div id="menuInst">
    
    <div class="logouned"><a href="https://www.uned.ac.cr/" title="UNED: Institución Benemérita de la Educación y la Cultura"><img src="https://www.uned.ac.cr/menu/img/uned.png" border="0px" width="70" height="70" alt="UNED: Institución Benemérita de la Educación y la Cultura" title="UNED: Institución Benemérita de la Educación y la Cultura"></a></div>
    
    <div class="pvw-uned"><a href="https://www.uned.ac.cr/" class="uned" title="UNED: Institución Benemérita de la Educación y la Cultura"><span>UNIVERSIDAD ESTATAL A DISTANCIA</span></a></div>
    <div class="pvw-uned-small"><a href="https://www.uned.ac.cr/" class="uned-small" title="UNED: Institución Benemérita de la Educación y la Cultura"><span>UNED</span></a></div>
    
    <div id="costarica">Costa Rica</div>
    
    <div class="tools" >
    
    <div class="google_search" style="margin-top:4px" >
    <script>
      (function() {
        var cx = '017440403442665186696:5qnadcfbvwu';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    
    
    <gcse:search></gcse:search>
    </div>
    
    </div>
    
    </div><!--<div id="menuInst">-->
    
    </div><!--<div id="menuInstCont">-->
    
        <div class="nav_uned">
        <input type="checkbox" id="toggle" />
    <div>
        <label for="toggle" class="toggle" data-open="MENÚ" data-close="Cerrar MENÚ" onclick></label>
            <ul class="menu_Inst">
              <!--<li><a href="/index.php/como-estudiar-en-la-uned">Estudiar en la UNED</a></li>-->
              <li><a href="https://www.uned.ac.cr/conociendo-la-uned">Conociendo la UNED</a></li>
              <li><a href="https://entornoestudiantil.uned.ac.cr/" target="_blank">Estudiantes</a></li>      
              <li><a href="https://www.uned.ac.cr/entornofuncionarios" target="_blank">Funcionarios</a></li> 
              <li><a href="https://www.uned.ac.cr/recdidacticos">Recursos Didácticos</a></li>
              <li><a href="https://investiga.uned.ac.cr/">Investigación</a></li>
              <li><a href="https://www.uned.ac.cr/extension/">Extensión</a></li>
              <li><a href="https://www.uned.ac.cr/ceus">Centros Universitarios</a></li>
              <li><a href="https://campusvirtual.uned.ac.cr/">Campus Virtual</a></li>
            </ul>
        </div><!-- End of Navigation -->
    </div>